### https://github.com/guipsamora/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercises.ipynb

In [1]:
import pandas as pd

In [2]:
raw_file = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
chipo = pd.read_csv(raw_file, sep = '\t')

In [4]:
chipo.head(n=10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.shape[0]

4622

In [6]:
chipo.shape[1]

5

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [9]:
chipo['item_name'].value_counts().head().index[0]

'Chicken Bowl'

In [10]:
chipo['item_name'].value_counts().head()[0]

726

In [11]:
chipo['choice_description'].value_counts().index[0]

'[Diet Coke]'

In [12]:
chipo['quantity'].sum()

4972

In [13]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [14]:
# chipo['item_price']=chipo['item_price'].str.replace('$','').astype(float)
chipo['item_price']=chipo['item_price'].apply(lambda x: float(x[1:-1]))

In [15]:
chipo['item_price'].dtypes

dtype('float64')

In [17]:
(chipo['quantity'] * chipo['item_price']).sum()

39237.02

In [20]:
chipo['order_id'].value_counts().count()

1834

In [26]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
ordered_grouped = chipo.groupby(by=['order_id']).sum()
ordered_grouped.mean()['revenue']

# chipo.groupby(by=['order_id']).sum().mean()

21.394231188658654

In [28]:
chipo['item_name'].value_counts().count()

50